.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }
.item5 { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
  'menu header header header header'
  'menu main main main main'
  'menu main main main main'
  'menu footer footer footer footer';
  grid-gap: 10px;
  background-color: #000000;
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
}

.hide {
  visibility: hidden;
}

input {
  margin-left: auto;
  margin-right: auto;
}
