<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Flack</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="item1">
        <p class="display-4">Welcome to Flack!</p>
        <p class="lead">A Slack copycat app</p>
      </div>
      <div class="item2" id="userName">Menu
        <p class="lead">Sample Text</p>
      </div>
      <div class="item3">Main
        <div class="hide" id="newUserForm">
          <form>
            <div class="form-group">
              <label for="newUsername">New Username</label>
              <input type="text" class="form-control" id="newUsername">
              <button class="btn btn-primary" id="createNewUser">Create</button>
            </div>
          </form>
        </div>
        <div class="hide" id="returnUserGreeting">
          <p></p>
        </div>
      </div>
      <div class="item4">Footer
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        //check to see if user already has a stored username
          if (localStorage.getItem('userName')) {
            let userName = localStorage.getItem('username')
            document.querySelector("#returnUserGreeting").style.visibility = "visible";
          } else {

          }
      })
    </script>
  </body>
</html>
