<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Flack</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="item1">
        <h4 class='display-4'></h4>
        <div id='channelDetails' style="display: none">
          <p class='lead' style='display: inline-block; margin-right: 100px'></p>
          <p class='lead' style='display: inline-block'><b>Active Users:</b> <span id='activeUsers'></span></p>
        </div>
      </div>
      <div class="item2">
        <div style='border-bottom: 2px solid white; margin-bottom: 10px'>
          <h4>Your Channels<br></h4>
        </div>
        <div id="channelAlertSpace">
        </div>
        <br>
        <div>
          <button class='btn btn-primary' id='createChannelPrompt'>Create New</button>
        </div>
        <div class="input-group mb3" id="channelCreate" style='display: none'>
          <div class="input-group-prepend">
            <button class="btn btn-primary">Create</button>
          </div>
          <input type="text" class="form-control" placeholder="Enter new channel name" id="newChannelName">
        </div>
        <br>
        <ul id="channelDisplay" style="border-top: 2px solid white">
          <br>
          <li style='display: none'><a href='#'>dummy</a></li>
        </ul>
      </div>
      <div class="item3">
        <p class='text-danger' style='font-size: 20px'></p>
        <div>
          <ul id='postsView' style="text-align: left">
          </ul>
        </div>
      </div>
      <div class="item4">
        <div style='border-bottom: 2px solid black'>
          <p class="display-4">Flack</p>
          <p class='lead' style='margin-bottom: 15px'><em>Instant Messaging</em></p>
        </div>
        <br>
        <div id="newUserForm">
          <h4>Looks like you're new!</h4>
          <p class="lead">Please enter new user name below</p>
          <div class="input-group mb-3" style="width: 60%; margin: auto">
            <div class="input-group-prepend">
              <button class="btn btn-primary" id='newUserCreate'>Create</button>
            </div>
            <input type="text" class="form-control" placeholder="Enter new user name" id="newUserInput">
          </div>
        </div>
        <div id="userGreeting">
        </div>
        <div id='userNameChange' style="display: none">
          <button class='btn btn-primary'>Change Username</button>
        </div>
      </div>
      <div class='item5'>
        <div id='newPostCreate' style="display: none">
          <div class="input-group mb-3" style="width: 70%; margin: auto">
            <div class="input-group-prepend">
              <button class="btn btn-primary">Post</button>
            </div>
            <textarea class="form-control" rows="1" placeholder="Type your message here"></textarea>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
