<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Flack</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="item1">
        <p class="display-4">Welcome to Flack!</p>
        <p class="lead">A Slack copycat app</p>
      </div>
      <div class="item2">
        <h4>Your Channels</h4>
        <br>
        <div class="input-group mb3">
          <div class="input-group-prepend">
            <button class="btn btn-primary" id="channelCreate">Create</button>
          </div>
          <input type="text" class="form-control" placeholder="Enter new channel name" id="newChannelName">
        </div>
        <br>
        <ul id="channelDisplay">
        </ul>
      </div>
      <div class="item3">
        <div class="hide" id="newUserForm">
          <h4>Looks like you're new!</h4>
          <p class="lead">Please enter new user name below</p>
        </div>
        <div class="hide" id="returnUserGreeting">
        </div>
      </div>
      <div class="item4">Footer
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        //localStorage.clear()
        //variables for different divs depending on what's in localStorage
        let returnGreeting = document.querySelector("#returnUserGreeting")
        let newUserSpace = document.querySelector("#newUserForm")
        let channelSpace = document.querySelector(".item2")
        let channelDisplay = document.querySelector("#channelDisplay")
        let channelCreate = document.querySelector("#channelCreate")
        let newChannel = document.querySelector("#newChannelName")
        let channelList = ''

        //check to see if user already has a stored username
          if (localStorage.getItem('userName')) {

            let userName = localStorage.getItem('userName')

            greeting('returnUser', userName, returnGreeting, newUserSpace)

          } else {

            newUserSpace.style.visibility = "visible"

            createInputForm("Enter new username here", "Create", newUserSpace, 'newUserCreate', '25%')

            //if no stored name, then handle user creation
            //think about maybe adding the option to create a different username -> add boolean to local storage for current user
            newUserCreate.onclick = () => {
              if (newUserInput.value) {

                let userName = newUserInput.value
                localStorage.setItem('userName', userName)

                greeting('newUser', userName, returnGreeting, newUserSpace)
              }
            }
          }

          //load channels
          if (localStorage.getItem("channels")) {
            channelList = localStorage.getItem("channels")
          } else {
            channelDisplay.innerHTML = "<em>No channels yet!</em>"
          }

          //handle channel Creation
          channelCreate.onclick = () => {
            let newChannelName = newChannel.value
            //store in memory
            if (channelList != '') {
              channelList += (newChannelName + '     ')
              localStorage.setItem('channels', channelList)
            } else {
              localStorage.setItem('channels', (newChannelName + '     '))
            }
            console.log(localStorage.getItem("channels"))
          }
      })
    </script>
  </body>
</html>
